element.style {
	
}

.app {
	display: flex;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sixing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.description {
	color: rgb(230,40,40);

	max-width: 705px;

}

.screenshot {

	max-width: 460px;

}


	
